{{> head}}


    {{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Angular</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quidem molestiae consequuntur reiciendis repellat dolor eligendi atque, error quis cum sequi fuga natus, odio neque ut maiores enim illo assumenda!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/angular.png" class="img-thumbnail" alt="">

    </div>
</div>
    {{> footer}}
